@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* A slideDownMenu és slideUpMenu keyframe-ek: */
@keyframes slideDownMenu {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUpMenu {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
html {
  scroll-behavior: smooth;
}

@layer utilities {
  .mask-fade-bottom {
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  }
}


